{
  "CASHIER_EMAIL": "cashier-test@example.com",
  "CASHIER_PASSWORD": "password123",
  "MANAGER_EMAIL": "manager-test@example.com",
  "MANAGER_PASSWORD": "password123",
  "PRODUCTION_EMAIL": "production-test@example.com",
  "PRODUCTION_PASSWORD": "password123"
}
